<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="keepass2android.plugin.keyboardswap2" android:versionCode="102" android:versionName="1.0.2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<application android:label="KeyboardSwap Plugin for KP2A"></application>
</manifest>